.start-screen {
    .card {
        border: none;
        .svg-inline--fa {
            margin: auto;
            font-size: 60px;
            color: #004e46;
        }

        .card-text {
            background-color: #efefef;
            padding: 30px;
        }
    }
}