.start-screen {
    .card {
        border: none;
        .svg-inline--fa {
            margin: auto;
            font-size: 60px;
            color: #004e46;
        }

        .card-text {
            background-color: #efefef;
            padding: 30px;
        }
    }

    @media only screen and (max-width: 768px) {
        h2 {
            margin-bottom: 10px !important;
            font-size: 26px;
        }

        .users {
            margin-top: 10px;
        }
    }
}